# Week 13 Assignment
Michael Hernandez
IS 362

Create a pandas DataFrame with a subset of the columns in the dataset. You should include the column
that indicates edible or poisonous, the column that includes odor, and at least one other column of your
choosing.

I choose to use the Edible, Odor and Habitat columns when importing the data from the set, from the names file, I inferred that those columns were at index positions 0, 5, and 22.  In the pandas.read_csv function, I was able to pass an argument usecols that allowed me to pre-select the columns I wanted to import based on index location or row name.

In [8]:
import pandas as pd

data = 'agaricus-lepiota.data'
shroom_data = pd.read_csv(data, header=None, usecols=[0, 5, 22])[[0, 5, 22]]
shroom_data.head()

  0  5  22
0  p  p  u
1  e  a  g
2  e  l  m
3  p  p  u
4  e  n  g

# Add meaningful names for each column.

Again, using the names of the column from the agaricus-lepiota.names file, I used the pandas.columns function to set the column names

In [9]:
columns = ['edible', 'odor', 'habitat']
shroom_data.columns = columns
shroom_data.head()

  edible odor habitat
0      p    p       u
1      e    a       g
2      e    l       m
3      p    p       u
4      e    n       g

# Replace the codes used in the data with numeric values
    -for example, in the first “target” column, “e” might become 0 and “p” might become 1. This is because your downstream processing in Project 4 using scikit-learn requires that values be stored as numerics.

For this I used the dictionary replacement options to bulk change the three columns in a single replace function call.

In [14]:
num_data = shroom_data.replace({'edible': {'p': 0, 'e': 1},'odor': {'a': 0, 'l': 1,'c': 2,'y': 3,'f': 4,
                                  'm': 5,'n': 6,'p': 7,'s': 8}, 'habitat': {'g': 0,'l': 1,'m': 2,'p': 3,
                                  'u': 4, 'w': 5,'d': 6}})
num_data.head()

   edible  odor  habitat
0       0     7        4
1       1     0        0
2       1     1        2
3       0     7        4
4       1     6        0

• Perform exploratory data analysis: show the distribution of data for each of the columns you selected, and
show scatterplots for edible/poisonous vs. odor as well as the other column that you selected.
• Include some text describing your preliminary conclusions about whether either of the other columns
could be helpful in predicting if a specific mushroom is edible or poisonous.